.pagination {
  text-align: center;
  position: fixed;
  right: 0;
  font-family: "Didot", cursive;
  font-size: 2rem;
  top: 30%;
  right: 1.2rem;

  div {
    color: #bababa;
    padding: 0.5rem 2rem;
  }

  .active-page {
    color: black;
  }
}

@media only screen and (max-width: 1024px) {
  .pagination {
    font-size: 1.5rem;
  }
}
