@import "../../styling/responsive";

.pagination {
  text-align: center;
  position: fixed;
  font-family: "Didot", cursive;
  font-size: 2rem;
  top: 35%;
  right: 1rem;

  @include bp(medium) {
    font-size: 1.5rem;
  }

  @include bp(small) {
    font-size: 1.2rem;
    right: 0rem;
  }

  .inactive-previous {
    pointer-events: none;
    opacity: 0.3;
  }

  div {
    color: #bababa;
    padding: 0.5rem 2rem;
    cursor: pointer;

    @include bp(small) {
      padding: 0.5rem;
    }

    svg {
      color: #191919;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .active-page {
    color: black;
  }
}
