@import "../../styling/colors";
@import "../../styling/layers";

.bookshelf {
  background: $background-gray;
  height: 12rem;
  padding: 1rem;

  .favorite-books-list {
    display: flex;
    .favorite-book {
      padding: 0 1rem;

      img {
        box-shadow: $elevation2;
      }
    }
  }
}
