html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 2rem;
  height: 100vh;
  position: relative;
}

.logo {
  display: inline-block;
  position: absolute;
}

.search-page h1 {
  margin-bottom: 3.5rem;
}

.search-elements {
  float: right;
  margin: auto 6rem;
  margin-top: 15%;
}

h1,
h2,
h3 {
  font-family: "Didot", cursive;
}

h1 {
  font-size: 3rem;
}
