.results-page {
  padding: 4rem;
  max-width: 1200px;
  margin: 0 auto;
}

.pagination {
  text-align: center;
  position: fixed;
  right: 0;
  font-family: "Didot", cursive;
  font-size: 2rem;
  top: 30%;
  right: 1.2rem;
}

.pagination div {
  color: #bababa;
  padding: 0.5rem 2rem;
}

.pagination .active-page {
  color: black;
}

.controls {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 8px;
}

.filters {
  display: flex;
  font-family: "Didot", cursive;
  text-transform: uppercase;
  font-weight: bold;
}

.filters div {
  padding: 0 2rem 0 0;
  display: flex;
}

.filters div:last-child {
  padding: 0;
}

.filters span {
  margin-right: 0.5rem;
}

.results-page .search-form {
  height: 40px;
  min-width: 360px;
}

.book {
  display: flex;
  margin: 4rem 0;
  max-width: 960px;
}
.book-cover {
  transition: all 500ms ease-in-out;
  transform-origin: 0 0;
  transform-style: preserve-3d;
  transform: rotateY(0);
  transition: all 500ms ease-in-out;
}
.book-cover:after {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  right: -6px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQIW2P8/////w8fPjAICAgwwGhGGggCAOYAMfLhHG5wAAAAAElFTkSuQmCC)
    repeat;
  width: 4px;
  height: calc(100% - 3px);
  transform: rotateY(35deg);
  transform-origin: right;
  transition: all 500ms ease-in-out;
}

.book-cover img {
  box-shadow: 17px 12px 8px 0 rgba(0, 0, 0, 0.2);
  width: 128px;
  transition: all 500ms ease-in-out;
}

.book-cover:hover {
  transform: rotateY(-20deg);
}

.book-cover:hover:after {
  right: -15px;
  width: 15px;
}

.book-cover:hover img {
  box-shadow: 20px 18px 10px 0 rgba(0, 0, 0, 0.15);
}

.title {
  font-family: "Didot", cursive;
  border-left: 6px solid #ff4f2d;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 1rem;
}

.book-info {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description {
  opacity: 0.7;
  line-height: 1.5rem;
  height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta {
  margin-top: 2rem;
  opacity: 0.4;
}

@media only screen and (max-width: 1024px) {
  .filters {
    font-size: 0.8rem;
  }
  .pagination {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .controls {
    flex-direction: column;
  }

  .filters {
    margin-bottom: 2rem;
    width: 80%;
    justify-content: space-between;
  }

  .results-page .search-form {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .controls {
    margin-bottom: 3rem;
  }
  .results-page {
    padding: 2rem;
  }
  .filters {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1rem;
  }
  .book-info {
    padding: 0 2rem;
  }
  .pagination {
    right: -1rem;
  }
  .book-cover img {
    width: 100px;
  }
}

@media only screen and (max-width: 425px) {
  .book {
    margin: 3rem 0;
  }
  .filters {
    font-size: 0.6rem;
  }
  .filters div {
    padding: 0 1rem 0 0;
  }

  .filters div:last-child {
    padding: 0;
  }

  .filters span {
    margin-right: 0.2rem;
    transform: translateY(2px);
  }

  .book-cover {
    height: 120px;
  }
  .book-cover img {
    width: 80px;
    height: 120px;
  }
}
