@import "../../styling/responsive";

.book {
  display: flex;
  margin: 4rem 0;
  max-width: 960px;

  @include bp(small) {
    flex-direction: column;
  }

  &-cover {
    transition: all 500ms ease-in-out;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: all 500ms ease-in-out;
    box-shadow: 17px 12px 8px 0 rgba(0, 0, 0, 0.2);

    @include bp(medium) {
      width: 130px;
    }

    @include bp(small) {
      padding-left: 0.5rem;
      width: 100px;
    }

    img {
      cursor: pointer;
      object-fit: cover;

      @include bp(small) {
        width: 92px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      display: block;
      top: 0px;
      right: -6px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQIW2P8/////w8fPjAICAgwwGhGGggCAOYAMfLhHG5wAAAAAElFTkSuQmCC)
        repeat;
      width: 4px;
      height: calc(100% - 3px);
      transform: rotateY(35deg);
      transform-origin: right;
      /*webkit transform fix the z-index issue for safari*/
      -webkit-transform: translate3d(0, 0, 0);
      transition: all 500ms ease-in-out;
    }

    &:hover {
      transform: rotateY(-20deg);
      box-shadow: 20px 18px 10px 0 rgba(0, 0, 0, 0.15);
      &:after {
        right: -15px;
        width: 15px;
      }
    }
  }

  .book-info {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @include bp(small) {
      padding: 1rem 1rem 1rem 0.5rem;
    }

    .title {
      font-family: "Didot", cursive;
      border-left: 6px solid #ff4f2d;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;

      @include bp(medium) {
        font-size: 1rem;
      }

      &-text {
        margin-right: 0.5rem;
      }

      .icon-button {
        cursor: pointer;
        opacity: 0.7;
        width: 24px;
        &:hover {
          opacity: 0.2;
        }
      }
    }
    .description {
      opacity: 0.7;
      line-height: 1.5rem;
      height: 46px;
      overflow: hidden;
      text-overflow: ellipsis;

      @include bp(small) {
        font-size: 0.8rem;
      }
    }

    .meta {
      margin-top: 2rem;
      opacity: 0.4;

      @include bp(small) {
        margin-top: 1rem;
      }
      .author-name {
        padding-right: 0.5rem;
      }
      .author-name:not(:nth-last-child(2)):after {
        content: " |";
      }
    }
  }
}
